@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400;500;600;700&display=swap');
.wrap {background-color: aqua;}
.wrap .title {}
.wrap .title h1 {
    font-family: 'Noto Serif KR', serif;
    font-size:1.875em;/*30px == 1.875em*/
    font-weight: 700;/*평균400~굵기 700~900*/
    font-style: italic;
    /* text-decoration:underline;밑줄 */
    /* text-decoration:line-through;취소선 */
} 
.wrap .title h1 span {
    font-size :1.875rem;
    /* text-transform:lowercase;소문자변환 */
    /* text-transform:uppercase;대문자변환 */
    text-transform:capitalize;/*앞 대문자변환*/
    }
.wrap .container {}
.wrap .container dl {}
.wrap .container dl dt {
    font-size :1.250rem; 
    font-family: 'Noto Serif KR', serif;
    line-height:1.5;
    letter-spacing: -0.03em;
    word-spacing:0.05em}
.wrap .container dl dd {
    font-family:'맑은 고딕', sans-serif;
    font-size :0.938rem; 
    line-height:1.5;
    letter-spacing:-0.02em;/*figma -2% */
    word-spacing:0.05em;
}
.wrap .quiz {}
.wrap .quiz h1 {
    font-size :1.875em; 
    font-weight: 900; 
    line-height: 1.5;
    text-transform: uppercase;}
.wrap .quiz ul {}
.wrap .quiz ul li {
    text-decoration: line-through;
    line-height: 1.5;}
.wrap .quiz ul li.answer {
    text-decoration: underline; 
    font-weight: 700;}
